<h1>
  {{ title }}
</h1>

<!-- ngFor -->
<ul>
  <!-- iterar sobre libros.t -->
  <li *ngFor="let l of libros" > 
    <a (click)="mostrarAutor()" target="_blank" >{{ l }}</a>
  </li>
</ul>

<br>
<br>
<hr>
<!-- ngStyle -->
<!-- ngClass -->
<div class="cuadrado" [ngStyle]="{ 'background-color': colorStyle ? colorStyle : 'peru' }">
  <h1>ngStyle</h1>
</div>

<button (click)="colorStyle = 'red'" >Rojo</button>
<button (click)="colorStyle = 'blue'" [ngClass]="colorStyle" >Azul</button>

<!-- ngSwitch -->
<div [ngSwitch]="diasSemana" >
  <p *ngSwitchCase="'lunes'" >Tomar cafe con leche</p>
  <p *ngSwitchCase="'martes'" >Tomar chocolate</p>
  <p *ngSwitchCase="'miercoles'" >Tomar tea con leche</p>
  <p *ngSwitchCase="'jueves'" >Tomar milo</p>
  <p *ngSwitchCase="'viernes'" >Aguadepanela</p>
  <p *ngSwitchCase="'sabado'" >Tomar cafe con leche</p>
  <p *ngSwitchCase="13">13</p>
  <p *ngSwitchDefault>Parrafo por defecto</p>
</div>

<input type="text" [(ngModel)]="diasSemana" />


<!-- NgIf -->
<div style="display: flex; gap: 100px; margin-top: 40px;">
  <div class="contenedor">
    <div *ngIf="mostrar">
      <h1>texto 1</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
      </p>
    </div>
  </div>
  <!-- NgIf else -->
  <!-- ng-template es un contenedor que no se muestra en el DOM -->
  <div class="contenedor">
    <ng-container *ngIf="mostrar2; else elseBlock">
      <h1>texto21</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod.
      </p>
    </ng-container>
    <ng-template #elseBlock>
      <h1>elseBlock</h1>
      <p>
        elseBlockelseBlock
      </p>
    </ng-template>


  </div>
</div>

<button
  (click)="mostrar = true"
  [ngClass]="{ 'btn-primary': mostrar, 'btn-danger': !mostrar }"
>
  Click me 1
</button>
<button (click)="mostrar2 = !mostrar2">Click me 2</button>

<p>{{ mostrar }}</p>

<app-colores> </app-colores>
<app-colores> </app-colores>
<app-colores> </app-colores>
<app-colores> </app-colores>
<app-colores> </app-colores>
<app-colores> </app-colores>
<app-colores> </app-colores>
<app-colores> </app-colores>
<app-colores> </app-colores>
<app-colores> </app-colores>
